html
  line-height 1.6
  letter-spacing .06em
  background-color $accentColor
body
button
input
select
textarea
  color $keyColor
  font-family trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif

body
  margin 0

::-webkit-scrollbar
  width 8px
  height 8px
  background $scrollColor
  &-thumb
    background $scrollThumbColor

a
  color $keyColor
  text-decoration none
  border none
  transition-property color
  transition-duration .4s
  transition-timing-function ease-out
  background-color transparent